<% if root_word.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
    <h2><%= pluralize(root_word.errors.count, "error") %> prohibited this root_word from being saved:</h2>

    <ul class="list-disc ml-6">
      <% root_word.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="my-5">
  <%= builder.label :display_name %>
  <%= builder.text_field :display_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": root_word.errors[:display_name].none?, "border-red-400 focus:outline-red-600": root_word.errors[:display_name].any?}] %>
</div>

<div class="my-5">
  <%= builder.label :page %>
  <%= builder.number_field :page, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": root_word.errors[:page].none?, "border-red-400 focus:outline-red-600": root_word.errors[:page].any?}] %>
</div>

<div class="my-5">
  <%= builder.label :chapter_id %>
  <%= builder.collection_select :chapter_id, chapters, :id, :title, { prompt: true, selected: root_word.chapter_id }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": root_word.errors[:chapter_id].none?, "border-red-400 focus:outline-red-600": root_word.errors[:chapter_id].any?}] %>
</div>

<%= builder.fields_for :chapter do |ch| %>
  <%= render 'shared/toggle',
    switch_text: 'Add Chapter',
    partial: 'chapters/fields',
    locals: { builder: ch, chapter: ch.object } %>
<% end %>

