<% content_for :title, "Showing root word" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing root word</h1>

  <%= render @root_word %>

  <%= render "shared/link_to", text: "Edit this root word", path: edit_root_word_path(@root_word) %>
  <%= render "shared/link_to", text: "Back to root words", path: root_words_path %>
  <%= render "shared/button_to", text: "Destroy this root word", path: @root_word, method: :delete %>
</div>
