<div id="<%= dom_id expression %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">En us:</strong>
    <%= expression.en_us %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Es mx:</strong>
    <%= expression.es_mx %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Page:</strong>
    <%= expression.page %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Root word:</strong>
    <%= link_to expression.root_word_display_name, expression.root_word, class: "underline dark:text-white" %>
  </div>
</div>
