<%= form_with(model: expression, class: "contents") do |form| %>
  <% if expression.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(expression.errors.count, "error") %> prohibited this expression from being saved:</h2>

      <ul class="list-disc ml-6">
        <% expression.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :en_us %>
    <%= form.text_field :en_us, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": expression.errors[:en_us].none?, "border-red-400 focus:outline-red-600": expression.errors[:en_us].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :es_mx %>
    <%= form.text_field :es_mx, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": expression.errors[:es_mx].none?, "border-red-400 focus:outline-red-600": expression.errors[:es_mx].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :page %>
    <%= form.number_field :page, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": expression.errors[:page].none?, "border-red-400 focus:outline-red-600": expression.errors[:page].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :root_word_id %>
    <%= form.collection_select :root_word_id, root_words, :id, :display_name, { prompt: true, selected: form.object.root_word_id }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": expression.errors[:root_word_id].none?, "border-red-400 focus:outline-red-600": expression.errors[:root_word_id].any?}] %>
  </div>

  <div class="my-5" data-controller="also-root-word">
    <%= check_box_tag :also_root_word, data: { action: "also-root-word#checkSamePage" } %>
    <%= label_tag :also_root_word, "This expression is also a root word", class: "select-none" %>

    <div>
      <%= check_box_tag :root_word_same_page, data: { also_root_word_target: :samePage } %>
      <%= label_tag :root_word_same_page, "Root word is on the same page", class: "select-none" %>
    </div>
  </div>

  <div class="my-5">
    <%= label_tag :root_word_chapter_id %>
    <%= collection_select :root_word, :chapter_id, chapters, :id, :title, { prompt: true, selected: root_word.chapter_id }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": root_word.errors[:chapter_id].none?, "border-red-400 focus:outline-red-600": root_word.errors[:chapter_id].any?}] %>
  </div>

  <div class="my-5">
    <%= fields_for :chapter do %>
      <%= render 'shared/toggle',
        switch_text: 'New Chapter',
        partial: 'chapters/fields',
        locals: { chapter: Chapter.new, margin_top: 0, margin_bottom: 0 },
        switch_color: "text-white",
        switch_bg: "shadow-sm bg-accent-800 hover:bg-accent-600",
        content_css: "mt-2 p-4 shadow-sm rounded bg-accent-800" %>
    <% end %>
  </div>

  <div class="my-5">
    <%= fields_for "expression[root_word_attributes]", root_word do |rw| %>
      <%= render 'shared/toggle',
        switch_text: 'New root word',
        partial: 'root_words/fields',
        locals: { builder: rw, root_word:, chapters:, margin_top: 0, margin_bottom: 0 },
        switch_color: "text-white",
        switch_bg: "bg-secondary-800 hover:bg-secondary-600",
        content_css: "rounded mt-2 p-2 md:pl-0 bg-secondary-800" %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
