<% content_for :title, "Showing expression" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing expression</h1>

  <%= render @expression %>

  <%= render "shared/link_to", text: "Edit this expression", path: edit_expression_path(@expression) %>
  <%= render "shared/link_to", text: "Back to expressions", path: expressions_path %>
  <%= render "shared/button_to", text: "Destroy this expression", path: @expression, method: :delete %>
</div>
