<% if chapter.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
    <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

    <ul class="list-disc ml-6">
      <% chapter.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="my-5">
  <%= builder.label :number %>
  <%= builder.number_field :number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:number].none?, "border-red-400 focus:outline-red-600": chapter.errors[:number].any?}] %>
</div>

<div class="my-5">
  <%= builder.label :title %>
  <%= builder.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:title].none?, "border-red-400 focus:outline-red-600": chapter.errors[:title].any?}] %>
</div>

<div class="my-5">
  <%= builder.label :page %>
  <%= builder.number_field :page, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:page].none?, "border-red-400 focus:outline-red-600": chapter.errors[:page].any?}] %>
</div>
