<% content_for :title, "Showing chapter" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing chapter</h1>
  <%= render @chapter %>

  <h2 class="font-bold text-3xl">Root words</h1>
  <%= render @chapter.root_words, link: true %>

  <%= render 'shared/link_to', text: 'Edit this chapter', path: edit_chapter_path(@chapter), variant: :secondary_button %>
  <%= render 'shared/link_to', text: 'Back to chapters', path: chapters_path, variant: :secondary_button %>
  <%= render 'shared/button_to', text: 'Destroy this chapter', path: @chapter, method: :delete, variant: :danger %>
</div>
